.wrap-control{
  /* width: 1000px; */
  margin: auto;
  position: relative;
  /* display: flex;
  flex-direction: wrap; */
}

.wrap-control_title{
  width: 350px;
  top: 200px;
  left: 150px;
  position: relative;
  z-index: 3;
}

.wrap-control_title_up{
  width: 100%;
  height: 150px;
  background-color: rgb(167, 4, 4);
  display: flex;
  /* flex-direction: column; */
}

.wrap-control_title_up h1{
  font-size: 130px;
  color: #fff;
  display: flex;
  flex-direction: row-reverse;
  writing-mode: vertical-lr;
}

.wrap-control_title_up p{
  font-size: 50px;
  color: #fff;
  display: flex;
  align-items: center;
}

.wrap-control_title_down{
  width: 100%;
  height: 200px;
  background-color:black;
}

.wrap-control_title_down h2{
  color: #fff;
  font-size: 20px;
  font-weight:bolder;
  margin-left: 10px;
  padding: 20px 0 10px 10px;
}

.wrap-control_title_down p{
  color: #fff;
  margin-left: 10px;
  padding: 0px 1px 0px 10px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 22px;
}

.wrap-control_deco{
  width: 500px;
  height: 300px;
  background-color: rgb(238, 236, 236);
  position: relative;
  left:600px;
  bottom: 100px;
  z-index: 1;
}

.wrap-control_pic{
  width: 700px;
  height: 120px;
  position: relative;
  z-index: 2;
  left: 300px;
  bottom: 300px;
}

.wrap-control_pic img{
  width: 100%;  
}

.btn{
  width: 60px;
  height: 40px;
  background-color: rgb(167, 4, 4);
  position: absolute;
  top: 250px;
  right: -10px;
}

.triangle{
  width: 20px;
  height: 20px;
  background-color: #fff;
  clip-path:polygon(0% 0%, 100% 50%, 0% 100%);
  border: #000;
  margin-left: 20px;
  margin-top: 10px;
}
.wrap-control_intro{
  width: 700px;
  padding: 20px 20px;
  /* margin: auto; */
  background-color: rgb(238, 236, 236);
  position: absolute;
  left: 150px;
  z-index: 3;
}

.wrap-control_intro h2{
  display: inline-block;
  font-size: 18px;
  color: rgb(167, 4, 4);
  font-weight: bolder;
  margin-bottom: 20px;
}

.wrap-control_intro h2::after{
  content: '';
  display: inline-block;
  height: 7px;
  width: 500px;
  border-top: rgb(167, 4, 4) solid 2px;
}

.wrap-control_intro h3{
  width: 110px;
  line-height: 30px;
  text-align: center;
  background-color: black;
  color: #fff;
  border-radius: 0.2em;
  margin-bottom: 10px;
}

.txt{
  /* display: inline-block; */
  margin-bottom: 10px;
  color: gray;
  text-indent: -1em;
  margin-left: 1em;
  line-height: 18px;
  font-weight: bolder;
}

.dot{
  color: rgb(167, 4, 4);
}